logs/
.env
.env.*
*.pyc
__pycache__/
.DS_Store
.vscode/
midpen-monitor.code-workspace

# Ignore all files in app/data except user example files
app/data/*
!app/data/users/
!app/data/users/users.example.json
!app/data/users/users.dev.example.json

# Ignore all real user files in the persistent data directory
app/data/users/users.json
app/data/users/users.dev.json